@import "../../style/vars";

.inner {
  display: flex;
}

.content {
  padding: 30px 40px 40px 40px;
  background-color: $bg;
  width: 100%;
}

.wrap {
  background-color: $white;
  padding: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: 1px solid $gray;
  width: 100%;
  z-index: 1;
}

.caption {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-right: 16px;
  color: $dark-blue;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.col {
  display: flex;
  align-items: center;
}

.tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border: 1px solid $blue;
  border-radius: 50%;
  font-weight: 500;
  text-decoration: none;
}

.button {
  padding: 3px 15px;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition: background .2s ease-in-out;
  display: inline-block;
  border: 1px solid transparent;
  color: $white;
  background-color: $blue;
}

.show {
  min-height: 26px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: $blue;
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-decoration: underline;
}