@import "../../../../style/vars";

.menu {
  position: absolute;
  z-index: 10;
  bottom: -65px;
  right: 0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 4px 4px;
  background-color: $white;
  flex-direction: column;
  display: none;

  &.isOpen {
    display: flex;
  }
}

.button {
  color: $black;
  padding: 7px 26px;
  background-color: $white;
  cursor: pointer;
  border: none;
  transition: background-color .2s ease-in-out;
  white-space: nowrap;
  text-align: left;
  font-size: 12px;
  line-height: 16px;

  &:hover {
    background-color: rgba(0, 182, 244, .1);
  }
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 7px;
  right: 0;
}

.inner {

}

.burger {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  cursor: pointer;

  span {
    width: 24px;
    height: 2px;
  }

  &.blue {
    span {
      background-color: $blue;
    }
  }

  &.dark {
    span {
      background-color: $dark-blue;
    }
  }
}


.dots {
  display: flex;
  justify-content: center;
  align-items: center;

  &__btn {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    padding: 5px;

    span {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $gray;
      margin: 0 3px;
      transition: background-color .2s ease-in-out;
    }

    &.isOpen {
      span {
        background-color: $dark-blue;
      }
    }

    &.blue.isOpen {
      span {
        background-color: $blue;
      }
    }

    &.dark.isOpen {
      span {
        background-color: $dark-blue;
      }
    }
  }
  &__menu {
    position: absolute;
    z-index: 10;
    bottom: -50px;
    right: 40px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 4px 4px;
    background-color: $white;
    flex-direction: column;
    display: none;

    &.isOpen {
      display: flex;
    }
  }
}



