@import "../../style/vars";

.form {
  &__row {
    display: flex;
    gap: 16px;
  }

  &__col {
    width: 100%;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $dark-blue;
    margin-bottom: 22px;
  }
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $white;
  border-radius: 4px;
  padding: 8px 24px;
  background-color: $blue;
  cursor: pointer;
  outline: none;
  border: none;

  &.light {
    background-color: transparent;
    color: $blue;
    border: 1px solid $blue;
  }
}

.input {
  margin-bottom: 16px;
  width: 100%;

  &__caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
    color: $black;
  }
  &__password {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 6px;
    right: 15px;
    width: 16px;
    height: 12px;
    background-image: url('../../img/eye.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    cursor: pointer;
    border: none;
    &.hidden {
      background-image: url('../../img/invisible-pasword.svg');
    }
  }

  &__field {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $black;
    width: 100%;
    padding: 8px 16px;
    border: 1px solid $gray;
    border-radius: 4px;
    outline: none;
    transition: border-color .2s ease-in-out;

    &::placeholder {
      color: $silver-text;
    }

    &:focus {
      border-color: $blue;
    }

    &.error {
      border-color: $red;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.recovery {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $blue;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.recommendation {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $blue;
  margin: 8px 0 16px;
}


