$white: #fff;
$blue:#00B6F4;
$dark-blue: #0F6EAA;
$black: #000;
$silver-text:#818181;
$red:#EB5757;
$green: #0BDC9E;
$gray: #DEDEDE;
$light-gray: #E0E0E0;
$bg: #BFE9F8;
$orange:#F46B1E;
$table-caption:#F2F2F2;
$date: #0D42FA;
