@import "../../../../../style/vars";

.item {
  display: grid;
  grid-template-columns: 80px 1fr 60px;
  gap: 16px;
  margin-bottom: 12px;
  padding: 7px 15px;
  border: 1px solid $gray;
  border-radius: 4px;
  position: relative;
  height: 40px;

  &.active {
    z-index: 3;
  }
}

.date {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  color: $silver-text;
}

.caption {
  position: relative;

  &.important {
    padding-left: 15px;
    &::before {
      display: block;
    }
  }

  &::before {
    content: '';
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 4px;
    height: 21px;
    background-image: url('../../../../../img/important.svg');
  }
}




